<div class="add-concert">Add A New Concert</div>

<% if @concert.errors.any? %>
  <div class = "error_explanation">
    <div class ="error_explanation_title"><%= pluralize(@concert.errors.count, "error") %> prohibited this concert from being saved:</div>

    <ul>
      <% @concert.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class = "formtext">
<%= form_for(@concert) do |f| %>

    <%= f.label :artist %>
    <%= f.text_field :artist %>

    <%= f.label :show_date %>
    <%= f.text_field :show_date %>

    <%= f.label :show_time %>
    <%= f.text_field :show_time %>

    <%= f.label :description %>
    <%= f.text_field :description %>

  </div>
  <div class = "submit">
    <%= f.submit "Add Concert"%>
 </div>

<% end %>
