    <div class="band_name"> <%= @concert.artist %></div>
    <div class="datetime"> <%= "Date:" %> <%= @concert.show_date %> <%= "Time:" %> <%= @concert.show_time %> </div>
    <div class="description"><%= @concert.description %></div>
